# node
node_modules/**/*
npm-debug.*

# expo
.expo/*
*.jks
*.p12
*.key
*.mobileprovision

#.env
.env

# jest
__snapshots__/*
**/__snapshots__/*

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.watchmanconfig
